{{template "base" .}}

{{define "css"}}
<link rel="stylesheet" href="/static/css/rooms.css">
    <style>
        .label-error{
            color: red;
            font-size: 0.8em;
        }
    </style>
{{end}}

{{define "content"}}

{{$title := "Make Reservation"}}
{{$subtitle := "Complete your booking in just a few steps"}}
{{$res := index .Data "reservation"}}
 
 
 
<div class="reservation-container">
    <div class="reservation-header">
        <h1>{{ $title }}</h1>
        <h4>{{$subtitle}}</h4>
    </div>

    <form method="post" action="/make-reservation" class="reservation-form" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        
        <div class="form-group">
            <label for="first_name">First Name</label>
            {{with .Form.Errors.Get "first_name"}}
                <span class="label-error">{{.}}</span>
            {{end}}
            <input class="form-control"
                   id="first_name" autocomplete="given-name" type='text'
                   name='first_name' value="{{$res.FirstName}}" required>
        </div>

        <div class="form-group">
            <label for="last_name">Last Name</label> 
            {{with .Form.Errors.Get "last_name"}}
                <span class="label-error">{{.}}</span>
            {{end}}
            <input class="form-control"
                   id="last_name" autocomplete="family-name" type='text'
                   name='last_name' value="{{$res.LastName}}" required>
        </div>

        <div class="form-group">
            <label for="email">Email Address</label>
            {{with .Form.Errors.Get "email"}}
                <span class="label-error">{{.}}</span>
            {{end}}
            <input class="form-control" id="email"
                   autocomplete="email" type='email'
                   name='email' value="{{$res.Email}}" required>
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            {{with .Form.Errors.Get "phone"}}
                <span class="label-error">{{.}}</span>
            {{end}}
            <input class="form-control" id="phone"
                   autocomplete="tel" type='tel'
                   name='phone' value="{{$res.Phone}}" required>
        </div>

        <hr class="form-divider">
        
        <button type="submit" class="submit-btn">Complete Reservation</button>
    </form>
</div>
{{end}}